


      <!--Criar um dropbox para listar 3 itens
    <div class="card-dash-board-report-header-menu">    
      <p-dropdown [options]="reportsGroups" [(ngModel)]="selectedReport" placeholder="Selecione um item"> 
        <ng-template let-item pTemplate="selectedItem">
            <div class="country-item country-item-value">{{item.name}}</div>
        </ng-template>
        <ng-template let-item pTemplate="item">
            <div class="country-item">
                <div>{{item.name}}</div>
            </div>
        </ng-template>
      </p-dropdown>
    </div>-->

  

<div class="card-dash-board-report">
  <div class="card-dash-board-report-header">
    <div class="card-dash-board-report-header-title">
      <h1>Extração de Relatórios</h1>
    </div>
    <hr>
    <!--Criar uma lista com 3 itens-->
    <ul>
      <li  class="card-dash-board-report-header-menu">
        <div>
          <button pButton type="button" icon="pi pi-bars" class="p-button-rounded p-button-secondary p-button-text" >Extração de Relatórios</button><!--(click)="openMenu()"-->
        </div>
      </li>
      <li  class="card-dash-board-report-header-menu">
        <div>
          <button pButton type="button" icon="pi pi-bars" class="p-button-rounded p-button-secondary p-button-text" >Extração de Relatórios</button><!--(click)="openMenu()"-->
        </div>
      </li>
      <li  class="card-dash-board-report-header-menu">
        <div>
          <button pButton type="button" icon="pi pi-bars" class="p-button-rounded p-button-secondary p-button-text" >Extração de Relatórios</button><!--(click)="openMenu()"-->
        </div>
      </li>
    </ul>    
  </div>
</div>





<router-outlet></router-outlet>
